{% extends 'templates/estate_base.html' %}
{% block title %}Home{% endblock %} 

{% block content %}



<div class="slide-one-item home-slider owl-carousel">

  <div class="site-blocks-cover overlay" style="background-image: url(/assets/demo_app/homeland/images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-10">
          <span class="d-inline-block bg-success text-white px-3 mb-3 property-offer-type rounded">For Rent</span>
          <h1 class="mb-2">871 Crenshaw Blvd</h1>
          <p class="mb-5"><strong class="h2 text-success font-weight-bold">$2,250,500</strong></p>
          <p><a href="#" class="btn btn-white btn-outline-white py-3 px-5 rounded-0 btn-2">See Details</a></p>
        </div>
      </div>
    </div>
  </div>  

  <div class="site-blocks-cover overlay" style="background-image: url(/assets/demo_app/homeland/images/hero_bg_2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-10">
          <span class="d-inline-block bg-danger text-white px-3 mb-3 property-offer-type rounded">For Sale</span>
          <h1 class="mb-2">625 S. Berendo St</h1>
          <p class="mb-5"><strong class="h2 text-success font-weight-bold">$1,000,500</strong></p>
          <p><a href="#" class="btn btn-white btn-outline-white py-3 px-5 rounded-0 btn-2">See Details</a></p>
        </div>
      </div>
    </div>
  </div>  

</div>


<div class="site-section site-section-sm pb-0">
  <div class="container">
    <div class="row">
      <form class="form-search col-md-12" style="margin-top: -100px;">
        <div class="row  align-items-end">
          <div class="col-md-3">
            <label for="list-types">Listing Types</label>
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select name="list-types" id="list-types" class="form-control d-block rounded-0">
                <option value="">Condo</option>
                <option value="">Commercial Building</option>
                <option value="">Land Property</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <label for="offer-types">Offer Type</label>
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select name="offer-types" id="offer-types" class="form-control d-block rounded-0">
                <option value="">For Sale</option>
                <option value="">For Rent</option>
                <option value="">For Lease</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <label for="select-city">Select City</label>
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select name="select-city" id="select-city" class="form-control d-block rounded-0">
                <option value="">New York</option>
                <option value="">Brooklyn</option>
                <option value="">London</option>
                <option value="">Japan</option>
                <option value="">Philippines</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <input type="submit" class="btn btn-success text-white btn-block rounded-0" value="Search">
          </div>
        </div>
      </form>
    </div>  

    <div class="row">
      <div class="col-md-12">
        <div class="view-options bg-white py-3 px-3 d-md-flex align-items-center">
          <div class="mr-auto">
            <a href="index.html" class="icon-view view-module active"><span class="icon-view_module"></span></a>
            <a href="/property/view-list.html" class="icon-view view-list"><span class="icon-view_list"></span></a>
            
          </div>
          <div class="ml-auto d-flex align-items-center">
            <div>
              <a href="#" class="view-list px-3 border-right active">All</a>
              <a href="#" class="view-list px-3 border-right">Rent</a>
              <a href="#" class="view-list px-3">Sale</a>
            </div>


            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select class="form-control form-control-sm d-block rounded-0">
                <option value="">Sort by</option>
                <option value="">Price Ascending</option>
                <option value="">Price Descending</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>

<div class="site-section site-section-sm bg-light">
  <div class="container">
  
    <div class="row mb-5">
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="property-entry h-100">
          <a href="property-details.html" class="property-thumbnail">
            <div class="offer-type-wrap">
              <span class="offer-type bg-danger">Sale</span>
              <span class="offer-type bg-success">Rent</span>
            </div>
            <img src="/assets/demo_app/homeland/images/img_1.jpg" alt="Image" class="img-fluid">
          </a>
          <div class="p-4 property-body">
            <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
            <h2 class="property-title"><a href="property-details.html">625 S. Berendo St</a></h2>
            <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 625 S. Berendo St Unit 607 Los Angeles, CA 90005</span>
            <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
            <ul class="property-specs-wrap mb-3 mb-lg-0">
              <li>
                <span class="property-specs">Beds</span>
                <span class="property-specs-number">2 <sup>+</sup></span>
                
              </li>
              <li>
                <span class="property-specs">Baths</span>
                <span class="property-specs-number">2</span>
                
              </li>
              <li>
                <span class="property-specs">SQ FT</span>
                <span class="property-specs-number">7,000</span>
                
              </li>
            </ul>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="property-entry h-100">
          <a href="property-details.html" class="property-thumbnail">
            <div class="offer-type-wrap">
              <span class="offer-type bg-danger">Sale</span>
              <span class="offer-type bg-success">Rent</span>
            </div>
            <img src="/assets/demo_app/homeland/images/img_2.jpg" alt="Image" class="img-fluid">
          </a>
          <div class="p-4 property-body">
            <a href="#" class="property-favorite active"><span class="icon-heart-o"></span></a>
            <h2 class="property-title"><a href="property-details.html">871 Crenshaw Blvd</a></h2>
            <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 1 New York Ave, Warners Bay, NSW 2282</span>
            <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
            <ul class="property-specs-wrap mb-3 mb-lg-0">
              <li>
                <span class="property-specs">Beds</span>
                <span class="property-specs-number">2 <sup>+</sup></span>
                
              </li>
              <li>
                <span class="property-specs">Baths</span>
                <span class="property-specs-number">2</span>
                
              </li>
              <li>
                <span class="property-specs">SQ FT</span>
                <span class="property-specs-number">1,620</span>
                
              </li>
            </ul>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="property-entry h-100">
          <a href="property-details.html" class="property-thumbnail">
            <div class="offer-type-wrap">
              <span class="offer-type bg-info">Lease</span>
            </div>
            <img src="/assets/demo_app/homeland/images/img_3.jpg" alt="Image" class="img-fluid">
          </a>
          <div class="p-4 property-body">
            <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
            <h2 class="property-title"><a href="property-details.html">853 S Lucerne Blvd</a></h2>
            <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 853 S Lucerne Blvd Unit 101 Los Angeles, CA 90005</span>
            <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
            <ul class="property-specs-wrap mb-3 mb-lg-0">
              <li>
                <span class="property-specs">Beds</span>
                <span class="property-specs-number">2 <sup>+</sup></span>
                
              </li>
              <li>
                <span class="property-specs">Baths</span>
                <span class="property-specs-number">2</span>
                
              </li>
              <li>
                <span class="property-specs">SQ FT</span>
                <span class="property-specs-number">5,500</span>
                
              </li>
            </ul>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="property-entry h-100">
          <a href="property-details.html" class="property-thumbnail">
            <div class="offer-type-wrap">
              <span class="offer-type bg-danger">Sale</span>
              <span class="offer-type bg-success">Rent</span>
            </div>
            <img src="/assets/demo_app/homeland/images/img_4.jpg" alt="Image" class="img-fluid">
          </a>
          <div class="p-4 property-body">
            <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
            <h2 class="property-title"><a href="property-details.html">625 S. Berendo St</a></h2>
            <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 625 S. Berendo St Unit 607 Los Angeles, CA 90005</span>
            <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
            <ul class="property-specs-wrap mb-3 mb-lg-0">
              <li>
                <span class="property-specs">Beds</span>
                <span class="property-specs-number">2 <sup>+</sup></span>
                
              </li>
              <li>
                <span class="property-specs">Baths</span>
                <span class="property-specs-number">2</span>
                
              </li>
              <li>
                <span class="property-specs">SQ FT</span>
                <span class="property-specs-number">7,000</span>
                
              </li>
            </ul>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="property-entry h-100">
          <a href="property-details.html" class="property-thumbnail">
            <div class="offer-type-wrap">
              <span class="offer-type bg-danger">Sale</span>
              <span class="offer-type bg-success">Rent</span>
            </div>
            <img src="/assets/demo_app/homeland/images/img_5.jpg" alt="Image" class="img-fluid">
          </a>
          <div class="p-4 property-body">
            <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
            <h2 class="property-title"><a href="property-details.html">871 Crenshaw Blvd</a></h2>
            <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 1 New York Ave, Warners Bay, NSW 2282</span>
            <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
            <ul class="property-specs-wrap mb-3 mb-lg-0">
              <li>
                <span class="property-specs">Beds</span>
                <span class="property-specs-number">2 <sup>+</sup></span>
                
              </li>
              <li>
                <span class="property-specs">Baths</span>
                <span class="property-specs-number">2</span>
                
              </li>
              <li>
                <span class="property-specs">SQ FT</span>
                <span class="property-specs-number">1,620</span>
                
              </li>
            </ul>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="property-entry h-100">
          <a href="property-details.html" class="property-thumbnail">
            <div class="offer-type-wrap">
              <span class="offer-type bg-info">Lease</span>
            </div>
            <img src="/assets/demo_app/homeland/images/img_6.jpg" alt="Image" class="img-fluid">
          </a>
          <div class="p-4 property-body">
            <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
            <h2 class="property-title"><a href="property-details.html">853 S Lucerne Blvd</a></h2>
            <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 853 S Lucerne Blvd Unit 101 Los Angeles, CA 90005</span>
            <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
            <ul class="property-specs-wrap mb-3 mb-lg-0">
              <li>
                <span class="property-specs">Beds</span>
                <span class="property-specs-number">2 <sup>+</sup></span>
                
              </li>
              <li>
                <span class="property-specs">Baths</span>
                <span class="property-specs-number">2</span>
                
              </li>
              <li>
                <span class="property-specs">SQ FT</span>
                <span class="property-specs-number">5,500</span>
                
              </li>
            </ul>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="property-entry h-100">
          <a href="property-details.html" class="property-thumbnail">
            <div class="offer-type-wrap">
              <span class="offer-type bg-danger">Sale</span>
              <span class="offer-type bg-success">Rent</span>
            </div>
            <img src="/assets/demo_app/homeland/images/img_7.jpg" alt="Image" class="img-fluid">
          </a>
          <div class="p-4 property-body">
            <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
            <h2 class="property-title"><a href="property-details.html">625 S. Berendo St</a></h2>
            <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 625 S. Berendo St Unit 607 Los Angeles, CA 90005</span>
            <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
            <ul class="property-specs-wrap mb-3 mb-lg-0">
              <li>
                <span class="property-specs">Beds</span>
                <span class="property-specs-number">2 <sup>+</sup></span>
                
              </li>
              <li>
                <span class="property-specs">Baths</span>
                <span class="property-specs-number">2</span>
                
              </li>
              <li>
                <span class="property-specs">SQ FT</span>
                <span class="property-specs-number">7,000</span>
                
              </li>
            </ul>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="property-entry h-100">
          <a href="property-details.html" class="property-thumbnail">
            <div class="offer-type-wrap">
              <span class="offer-type bg-danger">Sale</span>
              <span class="offer-type bg-success">Rent</span>
            </div>
            <img src="/assets/demo_app/homeland/images/img_8.jpg" alt="Image" class="img-fluid">
          </a>
          <div class="p-4 property-body">
            <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
            <h2 class="property-title"><a href="property-details.html">871 Crenshaw Blvd</a></h2>
            <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 1 New York Ave, Warners Bay, NSW 2282</span>
            <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
            <ul class="property-specs-wrap mb-3 mb-lg-0">
              <li>
                <span class="property-specs">Beds</span>
                <span class="property-specs-number">2 <sup>+</sup></span>
                
              </li>
              <li>
                <span class="property-specs">Baths</span>
                <span class="property-specs-number">2</span>
                
              </li>
              <li>
                <span class="property-specs">SQ FT</span>
                <span class="property-specs-number">1,620</span>
                
              </li>
            </ul>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="property-entry h-100">
          <a href="property-details.html" class="property-thumbnail">
            <div class="offer-type-wrap">
              <span class="offer-type bg-info">Lease</span>
            </div>
            <img src="/assets/demo_app/homeland/images/img_1.jpg" alt="Image" class="img-fluid">
          </a>
          <div class="p-4 property-body">
            <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
            <h2 class="property-title"><a href="property-details.html">853 S Lucerne Blvd</a></h2>
            <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 853 S Lucerne Blvd Unit 101 Los Angeles, CA 90005</span>
            <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
            <ul class="property-specs-wrap mb-3 mb-lg-0">
              <li>
                <span class="property-specs">Beds</span>
                <span class="property-specs-number">2 <sup>+</sup></span>
                
              </li>
              <li>
                <span class="property-specs">Baths</span>
                <span class="property-specs-number">2</span>
                
              </li>
              <li>
                <span class="property-specs">SQ FT</span>
                <span class="property-specs-number">5,500</span>
                
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="site-pagination">
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <span>...</span>
          <a href="#">10</a>
        </div>
      </div>  
    </div>
    
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <div class="site-section-title">
          <h2>Why Choose Us?</h2>
        </div>
        <p>With extensive experience and market knowledge, we provide expert guidance and exceptional service. Committed to quality and transparency, we ensure your property journey is smooth and successful.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a href="#" class="service text-center">
          <span class="icon flaticon-house"></span>
          <h2 class="service-heading">Research Subburbs</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure qui natus perspiciatis ex odio molestia.</p>
          <p><span class="read-more">Read More</span></p>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="#" class="service text-center">
          <span class="icon flaticon-sold"></span>
          <h2 class="service-heading">Sold Houses</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure qui natus perspiciatis ex odio molestia.</p>
          <p><span class="read-more">Read More</span></p>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="#" class="service text-center">
          <span class="icon flaticon-camera"></span>
          <h2 class="service-heading">Security Priority</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure qui natus perspiciatis ex odio molestia.</p>
          <p><span class="read-more">Read More</span></p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center">
        <div class="site-section-title">
          <h2>Recent Blog</h2>
        </div>
        <p>Stay informed with our recent blog posts, where we share the latest industry news, expert tips, and insightful articles to help you navigate the property market effectively.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">
        <a href="#"><img src="/assets/demo_app/homeland/images/img_4.jpg" alt="Image" class="img-fluid"></a>
        <div class="p-4 bg-white">
          <span class="d-block text-secondary small text-uppercase">Jan 20th, 2021</span>
          <h2 class="h5 text-black mb-3"><a href="#">Art Gossip by Mike Charles</a></h2>
          <p>Dive into the latest buzz in the art world with Mike Charles. From gallery openings to artist spotlights, stay updated on the vibrant and ever-changing art scene.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="200">
        <a href="#"><img src="/assets/demo_app/homeland/images/img_2.jpg" alt="Image" class="img-fluid"></a>
        <div class="p-4 bg-white">
          <span class="d-block text-secondary small text-uppercase">June 2th, 2023</span>
          <h2 class="h5 text-black mb-3"><a href="#">Market Trends Analysis</a></h2>
          <p>Stay ahead with our comprehensive market trends analysis. Get insights into current property values, emerging hotspots, and future predictions to make informed investment decisions.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="300">
        <a href="#"><img src="/assets/demo_app/homeland/images/img_3.jpg" alt="Image" class="img-fluid"></a>
        <div class="p-4 bg-white">
          <span class="d-block text-secondary small text-uppercase">Feb 15th, 2024</span>
          <h2 class="h5 text-black mb-3"><a href="#"> Home Improvement Tips</a></h2>
          <p>Transform your living space with our expert home improvement tips. Discover practical advice, creative ideas, and DIY projects to enhance the beauty and functionality of your home.</p>
        </div>
      </div>

    </div>

  </div>
</div>


<div class="site-section">
<div class="container">
  <div class="row mb-5 justify-content-center">
    <div class="col-md-7">
      <div class="site-section-title text-center">
        <h2>Our Agents</h2>
        <p>Meet our team of dedicated and experienced agents. With deep market knowledge and a commitment to exceptional service, they are here to guide you through every step of your property journey.</p>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
        <div class="team-member">

          <img src="/assets/demo_app/homeland/images/person_1.jpg" alt="Image" class="img-fluid rounded mb-4">

          <div class="text">

            <h2 class="mb-2 font-weight-light text-black h4">Megan Smith</h2>
            <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
            <p>Meet Megan Smith, your dedicated real estate agent. With a passion for finding dream homes and a commitment to personalized service, Megan is here to help you navigate the real estate market with confidence.</p>
            <p>
              <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
              <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
              <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
            </p>
          </div>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
        <div class="team-member">

          <img src="/assets/demo_app/homeland/images/person_2.jpg" alt="Image" class="img-fluid rounded mb-4">

          <div class="text">

            <h2 class="mb-2 font-weight-light text-black h4">Brooke Cagle</h2>
            <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
            <p>Meet Brooke Cagle, your trusted partner in real estate. With a focus on integrity and client satisfaction, Brooke is dedicated to delivering exceptional service and helping you achieve your property goals with ease.</p>
            <p>
              <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
              <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
              <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
            </p>
          </div>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
        <div class="team-member">

          <img src="/assets/demo_app/homeland/images/person_3.jpg" alt="Image" class="img-fluid rounded mb-4">

          <div class="text">

            <h2 class="mb-2 font-weight-light text-black h4">Philip Martin</h2>
            <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
            <p>Meet Philip Martin, your reliable real estate expert. With a wealth of experience and a customer-first approach, Philip is committed to providing personalized guidance and achieving outstanding results for his clients.</p>
            <p>
              <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
              <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
              <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
            </p>
          </div>

        </div>
      </div>

      

    </div>
</div>
</div>




{% endblock %}